<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erreur <%= code %></title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="center">
      <h1>Error <%= code %></h1>
      <p><%= message %></p>
    </div>
    <% if (stack != null) { %>
    <pre><%= stack %></pre>
    <% } %>
  </body> 
</html>
